# Lab 2: Types of Data

#### CPE232 Data Models
---

## [1] CSV

In [1]:
import csv

### 1.1 Writing new csv file

*Note: Remember this example? We've already seen it in the last lab.*

In [2]:
with open("test.csv","w",newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["Name","Surname"])
        writer.writerow(["Alice","Johnson"])
        writer.writerow(["Bob","Smith"])

### 1.2 Reading a csv file

In [3]:
with open("test.csv","r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Surname']
['Alice', 'Johnson']
['Bob', 'Smith']

### 1.3 Use pandas to read csv file

In [5]:
import pandas as pd

df = pd.read_csv('test.csv')

df

    Name  Surname
0  Alice  Johnson
1    Bob    Smith

[Q1] Write a Python script that reads the **students.csv** file and prints the content of *the first 10 students* row by row.

In [7]:
# Write your code here
with open("students.csv","r") as file:
    reader = csv.reader(file)
    i = 0
    for row in reader:
        print(row)
        i += 1
        if i == 10:
            break

['Name', 'Age', 'Grade']
['Alice', '21', 'A']
['Bob', '22', 'B']
['Charlie', '20', 'C']
['David', '23', 'A']
['Eve', '19', 'B']
['Frank', '25', 'C']
['Grace', '22', 'A']
['Hank', '24', 'B']
['Isla', '18', 'C']

[Q2] Load the **students.csv** file into a pandas DataFrame. Use pandas to filter the DataFrame and create a new DataFrame containing only students who received an "A" grade. Print the new DataFrame.

In [94]:
# Write your code here
df_students = pd.read_csv('students.csv')

# new data frame with only grade A students
df_Astudents = df_students[df_students["Grade"] == "A"]

df_Astudents

       Name  Age Grade
0     Alice   21     A
3     David   23     A
6     Grace   22     A
9      Jack   20     A
12      Mia   24     A
15     Paul   19     A
18      Sam   21     A
21   Victor   24     A
24     Yara   18     A
26     Adam   19     A
29    Diana   24     A
32    Gavin   20     A
35    Julia   18     A
38    Mason   22     A
41    Piper   19     A
44    Steve   22     A
47     Vera   20     A
50    Yusuf   18     A
53  Brianna   24     A
56    Ethan   20     A

[Q3] Add a new column to the DataFrame called "Passed" where the value is True if the grade is "A", and False otherwise. Print the updated DataFrame.

In [9]:
# Write your code here
df_students['Passed'] = df_students['Grade'] == 'A'

df_students.head(10)

      Name  Age Grade  Passed
0    Alice   21     A    True
1      Bob   22     B   False
2  Charlie   20     C   False
3    David   23     A    True
4      Eve   19     B   False
5    Frank   25     C   False
6    Grace   22     A    True
7     Hank   24     B   False
8     Isla   18     C   False
9     Jack   20     A    True

[Q4] Calculate the average age of the students in the DataFrame.

In [21]:
# Write your code here
# Calculate the average age of the students
# by looping through the rows of the DataFrame
total_age = 0
num_students = 0
for index, row in df_students.iterrows():
    total_age += row['Age']
    num_students += 1
average_age = total_age / num_students

print(f"the average age of the students is {average_age:.2f}")

the average age of the students is 21.39

[Q5] Calculate the average GPAX of **ALL** students in the DataFrame, where A=4, B=3, C=2, and D=1.

In [17]:
# Write your code here
# Calculate the GPAX of all students

df_students['GPAX'] = (df_students['Grade'].map({'A': 4, 'B': 3, 'C': 2, 'D': 1, 'F': 0}))

total_gpax = 0
num_students = 0
for index, row in df_students.iterrows():
    total_gpax += row['GPAX']
    num_students += 1
    
average_gpax = total_gpax / num_students

print(f"Average GPAX: {average_gpax:.2f}")

Average GPAX: 3.02

## [2] HTML

### 2.1 Different tags in HTML

**Basic Structure Tags:**
- `<!DOCTYPE html>`: Declares the document type and version of HTML.
- `<html>`: Root element of the HTML document.
- `<head>`: Contains meta-information like the title, character set, and links to external resources (CSS, scripts).
- `<title>`: Specifies the title of the webpage, visible in the browser tab.
- `<body>`: Contains the visible content of the page.

**Text Formatting Tags:**
- `<h1>` - `<h6>`: Header tags (h1 is the largest, h6 is the smallest).
- `<p>`: Paragraph tag, used to group text into paragraphs.
- `<blockquote>`: Defines a block of text that is a quotation from another source.
- `<code>`: Represents inline code.

**Lists and Links:**
- `<ul>`: Unordered list (bulleted).
- `<ol>`: Ordered list (numbered).
- `<li>`: List item, used inside `<ul>` or `<ol>`.
- `<a>`: Anchor tag, used to create hyperlinks.
- `<img>`: Image tag, used to embed images.

**Tables:**
- `<table>`: Defines a table.
- `<tr>`: Table row.
- `<th>`: Table header, defines header cells.
- `<td>`: Table data, defines standard cells.

and more...

In [24]:
from bs4 import BeautifulSoup

### 2.2 Writing new HTML file

In [25]:
html_temp = """
<!DOCTYPE html>
<html>
<head>
    <title>Sample Blog</title>
</head>
<body>
    <h2 class="article-title">Article 1: Introduction to Web Scraping</h2>
    <p class="article-content">This is an introduction to web scraping using BeautifulSoup.</p>
    <h2 class="article-title">Article 2: Advanced Web Scraping Techniques</h2>
    <p class="article-content">Learn advanced techniques for web scraping with Python.</p>
</body>
</html>
"""

with open('html_file.html', 'w') as file:
    file.write(html_temp)

### 2.3 Reading HTML file

In [26]:
with open('html_file.html') as html_file:
    html_content = html_file.read()

# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

print(soup.title.text)
print(soup.h2)
print(soup.table.text)

Sample Blog
<h2 class="article-title">Article 1: Introduction to Web Scraping</h2>

AttributeError: 'NoneType' object has no attribute 'text'

[Q6] Explain why the code above gives an error? Fix the code so that it runs without error.

Ans: because soup.table object is none. That mean no table in the html file.

In [29]:
# Write your code here
with open('html_file.html') as html_file:
    html_content = html_file.read()

# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

print(soup.title.text)
print(soup.h2)
print(soup.p.text)

Sample Blog
<h2 class="article-title">Article 1: Introduction to Web Scraping</h2>
This is an introduction to web scraping using BeautifulSoup.

[Q7] You are provided an HTML file named **students.html**. Write a Python script that extracts all the data from the table (headers and rows) and prints them row by row.

In [ ]:
# Write your code here
with open('students.html') as html_file:
    html_content = html_file.read()
    
# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

# extract all data from the table
# header
header = soup.find_all('th')
for th in header:
    print(th.text, end=' | ')
print()
# data
rows = soup.find_all('tr')
for row in rows:
    data_in_row = row.find_all('td')
    for td in data_in_row:
        print(td.text, end=' | ')
    print()

Name | Age | Grade |

Alice | 21 | A |
Bob | 22 | B |
Charlie | 20 | C |
David | 23 | A |
Eve | 19 | B |
Frank | 25 | C |
Grace | 22 | A |
Hank | 24 | B |
Isla | 18 | C |
Jack | 20 | A |
Karen | 21 | B |
Liam | 22 | C |
Mia | 24 | A |
Nate | 23 | B |
Olivia | 25 | C |
Paul | 19 | A |
Quinn | 18 | B |
Ruby | 22 | C |
Sam | 21 | A |
Tina | 20 | B |
Uma | 19 | C |
Victor | 24 | A |
Wendy | 23 | B |
Xander | 22 | C |
Yara | 18 | A |
Zack | 20 | B |

[Q8] Modify the script to extract and print only the names of students who received a grade of "A".

In [55]:
# Write your code here
for th in header:
    print(th.text, end=' | ')
print()

# new extract data
rows = soup.find_all('tr')[1:]
for row in rows:
    data_in_row = row.find_all('td')
    if data_in_row[2].text == 'A':
        for td in data_in_row:
            print(td.text, end=' | ')
        print()

Name | Age | Grade |
Alice | 21 | A |
David | 23 | A |
Grace | 22 | A |
Jack | 20 | A |
Mia | 24 | A |
Paul | 19 | A |
Sam | 21 | A |
Victor | 24 | A |
Yara | 18 | A |

## [3] XML

In [75]:
import xml.etree.ElementTree as ET

### 3.1 Writing new xml file

In [77]:
root = ET.Element("data")
student = ET.SubElement(root, "student", name = "Alice")

email = ET.SubElement(student, 'email')
email.text = "alice@mail.com"

age = ET.SubElement(student, 'age')
age.text = "21"

gender = ET.SubElement(student, 'gender')
gender.text = "F"

tree = ET.ElementTree(root)
tree.write("xml_file.xml")

### 3.2 Modifying existing xml file

In [78]:
tree = ET.parse('xml_file.xml')
root = tree.getroot()

for student in root:
    for element in student:
        if element.tag == "age":
            element.text = "22"

tree.write('xml_file.xml')

### 3.3 Reading XML file

In [79]:
tree = ET.parse('xml_file.xml')
root = tree.getroot()

for student in root:
    print(f'name: {student.attrib["name"]}')
    for element in student:
        print(f'{element.tag}: {element.text}')

# Print the entire XML content
xml_content = ET.tostring(root, encoding='utf-8').decode('utf-8')
print(xml_content)

name: Alice
email: alice@mail.com
age: 22
gender: F
<data><student name="Alice"><email>alice@mail.com</email><age>22</age><gender>F</gender></student></data>

### 3.4 Convert XML to List of Dictionary

In [80]:
data_list = []
for line in root:
    name = line.attrib.get('name')
    email = line.find('email').text
    age = line.find('age').text
    gender = line.find('gender').text

    data_list.append({"Name":name, "Email":email, "Age":age, "Gender":gender})
    
print(data_list)

[{'Name': 'Alice', 'Email': 'alice@mail.com', 'Age': '22', 'Gender': 'F'}]

[Q9] Add your own data including Name, Email, Age and Gender to the XML file and put it in the existing data_list.

*Note: You should show the data_list and XML file by reading the file.*

In [81]:
#Write you own code here
tree = ET.parse('xml_file.xml')
root = tree.getroot()

# add new student
student = ET.SubElement(root, "student", name = "Adisorn")
student_email = ET.SubElement(student, 'email')
student_email.text = "adisorn.safe01@gmail.com"
student_age = ET.SubElement(student, 'age')
student_age.text = "20"
student_gender = ET.SubElement(student, 'gender')
student_gender.text = "M"

tree.write('xml_file.xml')

# print
tree = ET.parse('xml_file.xml')
root = tree.getroot()

for student in root:
    print(f'name: {student.attrib["name"]}')
    for element in student:
        print(f'{element.tag}: {element.text}')

name: Alice
email: alice@mail.com
age: 22
gender: F
name: Adisorn
email: adisorn.safe01@gmail.com
age: 20
gender: M

## [4] JSON

In [82]:
import json

### 4.1 Writing new json file

In [86]:
# Data to be written to the JSON file
data_to_write = {
    "people": [
        {"name": "Alice", "age": 30, "city": "New York"},
        {"name": "Bob", "age": 25, "city": "San Francisco"},
        {"name": "Charlie", "age": 35, "city": "Los Angeles"}
    ]
}

# Open the file in write mode and write the data
with open('json_file', 'w') as json_file:
    json.dump(data_to_write, json_file, indent=2)

### 4.2 Reading json file

In [87]:
with open('json_file', 'r') as file:
    # Load JSON data
    data = json.load(file)
    
print(data)

people = data['people']

# Print information about each person
for person in people:
    print(f"Name: {person['name']}, Age: {person['age']}, City: {person['city']}")

{'people': [{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'San Francisco'}, {'name': 'Charlie', 'age': 35, 'city': 'Los Angeles'}]}
Name: Alice, Age: 30, City: New York
Name: Bob, Age: 25, City: San Francisco
Name: Charlie, Age: 35, City: Los Angeles

[Q10] write a code to modify the existing json file so each person have a "job" data and print the result

Ans:

In [91]:
#write your own code here
# Open the file in read mode
with open('json_file', 'r') as file:
    # Load JSON data
    data = json.load(file)

people = data['people']

# modify data in the JSON file by adding a job field to each person
for person in people:
    person['job'] = 'none'

# write the modified data back to the JSON file
with open('json_file', 'w') as file:
    json.dump(data, file, indent=2)

# Open the file in read mode
with open('json_file', 'r') as file:
    # Load JSON data
    data = json.load(file)

# Print information about each person
people = data['people']
for person in people:
    print(f"Name: {person['name']}, Age: {person['age']}, City: {person['city']}, Job: {person['job']}")

Name: Alice, Age: 30, City: New York, Job: none
Name: Bob, Age: 25, City: San Francisco, Job: none
Name: Charlie, Age: 35, City: Los Angeles, Job: none